body {
        font-family: Arial, sans-serif;
        background-image: linear-gradient(to bottom right, rgb(247, 127, 127), rgb(240, 191, 101), rgb(243, 241, 117) , rgb(209, 247, 106), rgb(169, 169, 250));
        padding: 20px;
        text-align: center;
        margin: auto;
        width: 75%;
}
.form {

        width: 10%;
        border: 3px darkblue; 
        padding: 10px;
    
}
 
 
 form {
    background-color: rgb(241, 226, 238);
    padding: 55px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
 }
 
 
 input{
    display: block;
    width: 50%;
    margin-bottom: 30px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 5px;
 }
 
 
 button {
    background-color: rgb(255, 150, 168);
    color: #fff;
    border: 5px rgb(255, 150, 168);
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
 }
 button:hover{
   background-color: rgb(253, 101, 126);
 }
button:active{
   background-color: rgb(253, 70, 101);
}
div{
   max-width: 100rem;
   max-height: 100rem;
}
textarea {
   display: block;
   width: 50%;
   height: 2.5rem;
   margin-bottom: 30px;
   margin: auto;
   box-shadow: 0 0 10px rgba(0,0,0,0.2);
   border-radius: 5px;
}
